.wordsearch {
  display: block;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}

.row {
  clear: both;
}

.cell {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid #000;
  float: left;
  text-transform: uppercase;
  cursor: pointer;
}

.cell.selected {
  background-color: #7ef29d;
  color: #fff;
}

.cell:hover {
  background-color: #eee;
}

.cell.unselectable {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.3); /* Reduce contrast by using a semi-transparent color */
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow for a blurred effect */
}

.cell.first-selected {
  /* Add desired styling for the first selected letter */
  background-color: rgba(0, 150, 0, 0.5);
}

.cell.hovered {
  background-color: #bfe5ff;
  color: #fff;
}

.queued-word-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  border: 2px dashed #ccc;
  border-radius: 5px;
  background-color: rgba(240, 240, 240, 0.8);
  font-size: 1.2em;
}

.wordsearch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cell.submitted {
  background-color: rgba(0, 191, 255, 0.5);
}

.submitted-words-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.submitted-words-container ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.submitted-words-container li {
  font-size: 1.2em;
  padding: 10px;
  margin: 5px;
  border: 2px solid #3f51b5;
  border-radius: 5px;
  background-color: rgba(63, 81, 181, 0.1);
  color: #3f51b5;
  font-weight: bold;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.submitted-words-container li:hover {
  transform: scale(1.1);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}
