.wordsearch {
  display: block;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}

.row {
  clear: both;
}

.cell {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid #000;
  float: left;
  text-transform: uppercase;
  cursor: pointer;
}

.cell.selected, 
.cell.selectable:hover {
  background-color: #7ef29d;
  color: #fff;
}

.cell.unselectable {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.3); /* Reduce contrast by using a semi-transparent color */
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle text shadow for a blurred effect */
  filter: contrast(70%);
}

.cell.first-selected {
  /* Add desired styling for the first selected letter */
  background-color: rgba(0, 150, 0, 0.5);
}

.wordsearch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cell.submitted {
  background-color: rgba(0, 191, 255, 0.5);
}

.submitted-words-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.submitted-words-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.submitted-words-container > div > span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 1.2em;
  font-weight: bold;
  border: 1px solid black;
  background-color: transparent;
  margin: 0;
  text-transform: uppercase;
}

.queued-word {
  display: flex;
  align-items: center;
}

.queued-word > div {
  display: flex;
}

.queue-box {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid #000;
  margin: 8px 0;
  text-transform: uppercase;
}

.clear-selection:hover,
.submit-selection:hover {
  background-color: #eee;
}

.clear-selection::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 24px;
  background-color: #000;
  transform: rotate(45deg);
}

.clear-selection::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 24px;
  background-color: #000;
  transform: rotate(-45deg);
}

.submit-selection::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 24px solid #000;
}

.queued-word-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  border: 2px dashed #ccc;
  background-color: rgba(240, 240, 240, 0.8);
  font-size: 1.2em;
}

.clear-selection, .submit-selection {
  width: 40px;
  height: 40px;
  font-size: 24px;
  font-weight: bold;
  color: #000;
  border: 1px solid #000;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
}

.clear-selection {
  background-color: #FF9999
}

.submit-selection {
  background-color: #99FF99
}
